/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow-x: hidden; margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: rgb(164, 23, 51);
$secondary-color: rgb(165, 127, 134);
$tertiary-color: rgb(73, 72, 73);
$quaternary-color: rgb(43, 38, 39);