<div class="container-fluid">
    <div class="card">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="10000">
                   <div style="min-height: 300px">
                        <div class="carousel-caption d-block">
                            <h5 class="carousel-inner-header">Fuzail Raashid</h5>
                            <div ><span class="d-flex justify-content-center"><mat-icon>phone</mat-icon> +91 7349717535</span></div>
                            <div><span class="d-flex justify-content-center"><mat-icon>email</mat-icon> fuzail385&#64;gmail.com</span></div>
                            <a href="https://www.linkedin.com/in/fuzail-raashid-b91b6abb/"><span class="d-flex justify-content-center"><mat-icon>linkedin</mat-icon> https://www.linkedin.com/in/fuzail-raashid-b91b6abb/</span></a>
                            <a href="https://github.com/RaashidFuzail"><span class="d-flex justify-content-center"><mat-icon>merge_type</mat-icon>https://github.com/RaashidFuzail</span></a>
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
                <div class="carousel-item pt-4" data-bs-interval="2000">
                    <!-- Instead of image, div with style and min-height --><div style="min-height: 300px">
                        <div class="carousel-caption d-block">
                            <h5 class="carousel-inner-header">Profile Summary</h5>
                                <ul>
                                    <li>4.5 years of experience in a corporate environment as a UI developer/Frontend</li>
                                    <li>Having experience in Software Development, Software Maintenance, Software Testing & Client Servicing</li>
                                    <li>working experience of Angular 2, 12,...16 frameworks in developing Single Page Applications</li>
                                    <li>Strong knowledge of HTML, CSS, and Bootstrap</li>
                                    <li>Good knowledge in SQL</li>
                                    <li>Good experience in bug fixing issues</li>
                                    <li>Ability to create beautiful web applications using HTML, CSS, and Bootstrap</li>
                                    <li>Having strong understanding of current web standard scenarios</li>
                                    <li>Experience working in Agile SDLC for application releases</li>
                                  </ul>
                            
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
                <div class="carousel-item">
                    <!-- Instead of image, div with style and min-height --><div style="min-height: 300px">
                        <div class="carousel-caption d-block">
                            <h5 class="carousel-inner-header">Tools and profiency</h5>
                           <span><b>Web Design:</b>	HTML5, CSS3, Bootstrap4, JavaScript, typescript</span><br>
                           <span> <b>Server:</b>	mongod, PG-Admin, SSMS, NodeJS, AngularCLI</span><br>
                           <span><b>Software Packages:</b> Visual Studio Code, MS Azure, SSMS, Just-in-Mind, MS Office (Word, Excel), Web Scraper, Zeplin wireframe tool</span>
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
       
        </div><!-- end .container -->
        <div class="row profile-files mt-4">
            <div class="col-6 justify-content-center">
                <div class="card px-4 py-4 text-center">
                <a href="assets/resume_fuzail_raashid_2025.pdf" download>
                    <p>Click here to download my resume...<img src="assets/pdfimage.png"></p>
                </a>
               </div>
           </div>
           <div class="col-6">
            <div class="card  px-4 py-4 text-center">
                <a href="assets/resume_Fuzail_2025.docx" download>
                    <p>Click here to download my resume...<img src="assets/docx.png"></p>
                </a>
            </div>
           </div>
        </div>
</div>

