.exp-card {
    border: none;
    // height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .card-header {
        color: rgb(165, 127, 134);
    }
    width: 95%;
}

.tech-card {
    border: none;
    // height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .card-header {
        color: rgb(165, 127, 134);
    }
}

.lang-card {
    border: none;
    // height: 400px;
    width: 95%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .card-header {
        color: rgb(165, 127, 134);
    }
}
