<div class="container-fluid">
    <div class="row chart-container px-1 gx-0">
        <div class="col-lg-3">
          <div class="card exp-card">
            <div class="card-header border-0">
              <h5 class="mb-0">Experience Insight</h5>
            </div>
            <div class="card-body d-flex justify-content-center">
              <canvas #pieCanvas ></canvas>
            </div>
          </div>
          <div class="card mt-3 lang-card">
            <div class="card-header border-0">
              <h5 class="mb-0">Languages Known</h5>
            </div>
            <div class="card-body d-flex justify-content-left">
              <div class="flex-direction-col">
                <div>English</div>
                <div>Hindi</div>
                <div>Urdu</div>
                <div>Odia</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
            <div class="card tech-card">
              <div class="card-header border-0">
                <h5 class="mb-0">Technologies Ratings</h5>
              </div>
              <div class="card-body d-flex justify-content-center">
                <canvas #barCanvas ></canvas>
              </div>
            </div>
          </div>
      </div>
    
</div>